
html
{
	font-family: Arial;
}



.userName
{
	padding:  0 0 0 100px;
	background-color: rgba(100,100,255,1);
	box-shadow: 2px 3px 5px rgba(100,100,100,0.5);
}

.userName p
{
	margin: 0;
	padding: 10px 0 10px 10px;
	font-family: Arial;
}

.requestsSec
{
	width: 80%;
	margin:50px auto 50px auto;
	box-shadow: 2px 2px 5px rgba(100,100,100,0.5);
	background-color: rgba(245,245,245,1);
	border-radius: 5px;
	overflow: hidden;
}

.requestsHeadingDiv
{
	padding: 10px;
	background-color: rgba(200,200,200,1);
}



.requestsHeading
{
	margin: 5px 20px 5px 20px;
	font-family: Arial;
}

.reqArt
{
	margin:  10px;
	overflow: hidden;
}

.reqArt:not(:last-child)
{
	border-bottom: 1px solid rgba(200,200,200,1);
	padding-bottom: 20px;
}

.id, .sendTime, .theme, .requestBody, 
.username, .email, .answerBtn, .closeFormBtn, 
.shortenedRequest, .hideReqBtn, .attachedFilesDiv
{
	margin: 5px 20px 5px 40px;
}

.attachedFilesDiv
{
	display: inline;
	display: none;/**/
}

.attachedFileLabel
{
	margin:0 20px;
}
.attachedImg
{
	display: inline;
	width:50px;
	height:50px;
	margin:0 20px;
}
.showReqBtn, .hideReqBtn, .answerBtn
{
	float: right;
	border: 1px solid rgba(0,0,0,1);
	border-radius: 5px; 
	outline: none;
}


.answerHeading, .answerBody
{
	margin:5px 20px 5px 300px;;
}

.requestBody,.answerDiv, .hideReqBtn
{
	display: none;
	font-family: Arial;
}

.answeredStatusN
{
	color: rgba(255,0,0,1);
}

.answeredStatusY
{
	color: rgba(0,255,0,1);
}

.requestAnswerDiv
{
	display: none;
}
.loginInput, .idInput
{
	display: none;
}

input, textarea
{
	display: block;
	margin: 5px 20px 5px 40px;
	width:93%;
	padding: 10px;
}

