.userName
{
	background-color: rgba(50,50,255,1);
}

.userName p
{
	margin: 10px 0 10px 0;
	padding: 0;
}


.requestsHeading, .contactHeading
{
	margin: 5px 20px 5px 20px;
}

article
{
	margin: 20px 0 50px 0;
}
.id, .sendTime, .theme, .requestBody, .username, .email, .answerBtn, .closeFormBtn
{
	margin: 5px 20px 5px 40px;
}

.answerHeading, .answerBody
{
	margin:5px 20px 5px 300px;;
}


.requestAnswerDiv
{
	display: none;
}
.loginInput, .idInput
{
	display: none;
}

input, textarea
{
	display: block;
	margin: 5px 20px 5px 40px;
	width:500px;
}

